<div class="searchbar">
    <div class="container">
        <form action="/search" class="search_home" method="POST">
            <input 
            type="search"
            aria-label="Search"
            id="search_input"
            name="search"
            placeholder="Search the site..."/>
        </form>
        <div id="searchclose">
            <img src="images/closebutton.svg" alt="">
        </div>
    </div>
</div>