<div class="author">
    <h1 class="author_heading">
        Hi, I am Birvaa!
    </h1>
    <p class="author_body">
        Software Engineer & Web Developer
    </p>
</div>
<img src="images/Home-Picture.jpg" alt="Home Image" class="homeimage" width="981" height="528">
<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul class="article_ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article_date"><%= post.UpdatedAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>
</section>